{% extends "base.html" %}
{% block content %}
   {% load static %}
    <p class="subtitle is-3">
        Die 14 Allergene
    </p>
    
    <div class="row">
        <div class="column" >
            <figure class="image" >
                <img src="{% static 'A.png' %}" alt="Allergene A" style="width:100%;">
            </figure>
        </div>
         <div class="column" >
            <figure class="image" >
                <img src="{% static 'B.png' %}" alt="Allergene A" style="width:100%;">
            </figure>
        </div>
        <div class="column" >
            <figure class="image" >
                <img src="{% static 'C.png' %}" alt="Allergene A" style="width:100%;">
            </figure>
        </div>
         <div class="column" >
            <figure class="image" >
                <img src="{% static 'D.png' %}" alt="Allergene A" style="width:100%;">
            </figure>
        </div>
        <div class="column" >
            <figure class="image" >
                <img src="{% static 'E.png' %}" alt="Allergene A" style="width:100%;">
            </figure>
        </div>
         <div class="column" >
            <figure class="image" >
                <img src="{% static 'F.png' %}" alt="Allergene A" style="width:100%;">
            </figure>
        </div>
        <div class="column" >
            <figure class="image" >
                <img src="{% static 'G.png' %}" alt="Allergene A" style="width:100%;">
            </figure>
        </div>
         <div class="column" >
            <figure class="image" >
                <img src="{% static 'H.png' %}" alt="Allergene A" style="width:100%;">
            </figure>
        </div>    
        <div class="column" >
            <figure class="image" >
                <img src="{% static 'L.png' %}" alt="Allergene A" style="width:100%;">
            </figure>
        </div>
         <div class="column" >
            <figure class="image" >
                <img src="{% static 'M.png' %}" alt="Allergene A" style="width:100%;">
            </figure>
        </div>
        <div class="column" >
            <figure class="image" >
                <img src="{% static 'N.png' %}" alt="Allergene A" style="width:100%;">
            </figure>
        </div>
         <div class="column" >
            <figure class="image" >
                <img src="{% static 'O.png' %}" alt="Allergene A" style="width:100%;">
            </figure>
        </div>
         <div class="column" >
            <figure class="image" >
                <img src="{% static 'P.png' %}" alt="Allergene A" style="width:100%;">
            </figure>
        </div>
    
    
    
    
    
    
    
    
    
    </div>
{% endblock %}

  