{% extends "base.html" %}
{% block content %}
   {% load static %}
    <p class="subtitle is-3">
        Die 14 Allergene
    </p>
      <div class="column">

          <figure class="image" >
              <img src="{% static 'allergene1.png' %}" alt="My image" style="width:80%">
              <img src="{% static 'allergene2.png' %}" alt="My image" style="width:80%">
              <img src="{% static 'allergene3.png' %}" alt="My image" style="width:80%">
        </figure>
      </div>

{% endblock %}

  