{% extends "base.html" %}
{% block content %}
    <!-- comment
    <p class="subtitle is-5">
        Bier
    </p>-->
    {% load static %}
    <div class="row">
      <div class="column is-bordered is-striped" >
          <table class="table is-bordered is-striped ">
                {% for item in object_list %}
                <tr>
                    <td>{{ item.Name }} </td>
                    <td>{{ item.Verkaufspreis |slice:"-1" }} Euro</td>
                    <td>{{ item.Allergene  }}</td>
                </tr>
                {% endfor %}
           </table>
      </div>

      <div class="column">


          <figure class="image" >
              <img src="{% static 'panther.png' %}" alt="My image" style="width:25%;">
              <figcaption>Puntigamer Panther vom Fass  </figcaption>

        </figure>
      </div>
    </div>
            
        </table>
{% endblock %}

