{% extends "base.html" %}
{% block content %}
   {% load static %}
    <p class="subtitle is-2">
        Hausordnung und Allgemeine Geschäftsbedingungen AGB
    </p>
 
<form class="box">
  <div class="field">
    <label class="label">Öffnungszeiten:</label>
      Das Café ist täglich von 8.00 Uhr bis 22.00 Uhr für die Selbstbedienung geöffnet.
            <br>Nach 22.00 Uhr können bis 24.00 Uhr Getränke aus Automaten entnommen werden. 
            <br>Spätestens um 01.00 Uhr muss das Lokal verlassen werden.
  </div>
    </form>
<form class="box">
  <div class="field">
    <label class="label">Getränke Automaten:</label>
      Der Automat für alkoholfreie Getränke ist für jedermann zugänglich und kann mit Münzen, Geldscheinen und der QuickPick-App bedient werden.
        <br>Alkoholische Getränke und Kaffee sind nur mit QuickPick erhältlich.  
        <br>Um Geld aufzuladen, muss man sich vorher mit Emil anmelden.
        <br>Das Guthaben kann nur für die Automaten im Cafe Dorner verwendet werden. 
        <br>Auf Wunsch wird es natürlich auch wieder ausgezahlt oder überwiesen.
        <br>Die Ausgabe von alkoholischen Getränken ist nur nach einer Alterskontrolle durch das Personal möglich.
        <br>Dafür genügt eine WhatsApp <a href="https://call.whatsapp.com/voice/k9qaYQrM2Kui7y8rOYqgg8">Anruf</a>, <a href="https://wa.me/436605316479">Nachricht</a>  
      oder E-Mail an: <a href="mailto:cafe.dorner@gmail.com">cafe.dorner@gmail.com</a>.
          <figure class="image" >
              <img src="{% static 'wame.png' %}" alt="My image" style="width:15%;">
          </figure>
        
  </div>
    </form>
<form class="box">
  <div class="field">
    <label class="label">Alkoholausschank:</label>
      An Kinder und Jugendliche unter 16/18 Jahren sowie an Betrunkene, die sich selbst oder andere gefährden, 
      werden keine alkoholischen Getränke ausgeschenkt.
  </div>
    </form>
<form class="box">
  <div class="field">
    <label class="label">Lärmpegel:</label>
      Der Lärm im Café ist auf ein zumutbares Maß nach 22.00 Uhr zu beschränken.
  </div>
    </form>    
<form class="box">
  <div class="field">
    <label class="label">Rauchen:</label>
        Das Rauchen ist nur in den dafür vorgesehenen Bereichen im Freien gestattet.
  </div>
    </form> 
<form class="box">
  <div class="field">
    <label class="label">Haftung:</label>
      Das Café Doren übernimmt keine Haftung für den Verlust oder die Beschädigung von persönlichen Gegenständen der Gäste.
  </div>
    </form>     
<form class="box">
  <div class="field">
    <label class="label">Zahlung:</label>
      Die Bezahlung erfolgt in bar oder mit gängigen Kredit- und EC-Karten.
  </div>
    </form>       
<form class="box">
  <div class="field">
    <label class="label">Reservierungen:</label>
      Reservierungen für größere Gruppen sind erwünscht und können telefonisch oder per E-Mail vorgenommen werden.
  </div>
    </form>      
<form class="box">
  <div class="field">
    <label class="label">Beschwerden:</label>
      Sollten Sie Beschwerden oder Anregungen haben, stehen wir Ihnen gerne zur Verfügung. 
      Bitte wenden Sie sich an die Mitarbeiter vor Ort, 
      <br> per WhatsApp <a href="https://call.whatsapp.com/voice/k9qaYQrM2Kui7y8rOYqgg8">Anruf</a>, <a href="https://wa.me/436605316479">Nachricht</a>  
      <br> oder E-Mail an: <a href="mailto:cafe.dorner@gmail.com">cafe.dorner@gmail.com</a>
          <figure class="image" >
              <img src="{% static 'wame.png' %}" alt="My image" style="width:15%;">
          </figure>
  </div>
    </form>        
<form class="box">
  <div class="field">
    <label class="label">Hausrecht:</label>
      Das Café Dorner behält sich das Recht vor, Personen, die gegen die Hausordnung verstoßen, 
      den Zutritt zu verweigern oder sie des Hauses zu verweisen.
  </div>
    </form>       
<form class="box">
  <div class="field">
    
    <label class="label">Änderungen der AGB:</label>
      Das Café behält sich das Recht vor, diese Allgemeinen Geschäftsbedingungen jederzeit zu ändern. 
      Die geänderten Bedingungen treten sofort in Kraft.
  </div>
    </form><form class="box">
  <div class="field">
    <label class="label">Kenntnisnahme:</label>
      Mit dem Betreten des Cafés erkennen Sie diese Hausordnung und Allgemeinen Geschäftsbedingungen an. 
      <p class="subtitle is-3">
      <br>Wir wünschen Ihnen einen angenehmen Aufenthalt!
      </p>
  </div>
    </form>    
    
    
    
{% endblock %}

  