{% extends "base.html" %}
{% block content %}
    <!-- comment
    <p class="subtitle is-5">
       unsere Speisen
    </p>-->
    {% load static %}
    <div class="row">
      <div class="column " >
          <table class="table is-bordered is-striped ">
                {% for item in object_list %}
                <tr>
                    <td>{{ item.Name }} </td>
                    <td>{{ item.Verkaufspreis |slice:"-1" }} Euro</td>
                    <td>{{ item.Allergene  }}</td>
                </tr>
                {% endfor %}
           </table>
      </div>
      <div class="column">

          <figure class="image" >
              <img src="{% static 'MICI.jpg' %}" alt="My image" style="width:35%;">
              <figcaption>Mici 5stk m Brot</figcaption>
              <img src="{% static 'MICI.jpg' %}" alt="My image" style="width:35%;">
              <figcaption>Mici 1stk m Brot</figcaption>
        </figure>
      </div>
    </div>
    
{% endblock %}

