{% extends "base.html" %}
{% block content %}
    <!-- comment
    <p class="subtitle is-5">
       unsere Speisen
    </p>-->



        <table class="table is-bordered is-striped ">
            
            {% for item in object_list %}
            <tr>
                <td>{{ item.Name }} </td>
                <td>{{ item.Verkaufspreis |slice:"-1" }} Euro</td>
            </tr>
            {% endfor %}
        </table>
    {% load static %}
        <figure class="image is=96x96">
            <img src="{% static 'MICI-980x551.jpg' %}" alt="My image">
        </figure>
{% endblock %}

