{% extends "base.html" %}
{% block content %}
    <!-- comment
    <p class="subtitle is-5">
       unsere Speisen
    </p>-->
    {% load static %}
    <div class="row">
      <div class="column " >
          <table class="table is-bordered is-striped ">
                {% for item in object_list %}
                <tr>
                    <td>{{ item.Name }} </td>
                    <td>{{ item.Verkaufspreis |slice:"-1" }} Euro</td>
                    <td>{{ item.Allergene  }}</td>
                </tr>
                {% endfor %}
           </table>
      </div>
      <div class="column">

          <figure class="image" >
              <img src="{% static 'Marias-Schnitzel 1.png' %}" alt="Marias-Schnitzel" style="width:15%;">
              <figcaption>Marias-Schnitzel</figcaption>
              <img src="{% static 'Mici-3.png' %}" alt="My image" style="width:15%;">
              <figcaption>Mici 3 stk m Brot</figcaption>
              <img src="{% static 'Mici-Bosna.png' %}" alt="My image" style="width:15%;">
              <figcaption>Mici Bosna</figcaption>

        </figure>
      </div>
    </div>
    
{% endblock %}

