{% extends "base.html" %}
{% block content %}
   {% load static %}
    <p class="subtitle is-2">
       Öffnungszeiten
    </p>
 
<form class="box">
  <div class="field">
    <label class="label">Öffnungszeiten:</label>
      Das Café ist täglich von 9.00 Uhr bis 22.00 Uhr für die Selbstbedienung geöffnet.
            <br>Nach 22.00 Uhr können bis 24.00 Uhr Getränke aus Automaten entnommen werden. 
            <br>Spätestens um 01.00 Uhr muss das Lokal verlassen werden.
  </div>
    </form>
<form class="box">
  <div class="field">
    <label class="label">Getränke Automaten:</label>
      Der Automat für alkoholfreie Getränke ist für jedermann zugänglich und kann mit Münzen, Geldscheinen und der QuickPick-App bedient werden.
        <br>Alkoholische Getränke und Kaffee sind nur mit QuickPick erhältlich.  
        <br>Um Geld aufzuladen, muss man sich vorher mit E-Mail anmelden.
        <br>Das Guthaben kann nur für die Automaten im Cafe Dorner verwendet werden. 
        <br>Auf Wunsch wird es natürlich auch wieder ausgezahlt oder überwiesen.
        <br>Die Ausgabe von alkoholischen Getränken ist nur nach einer Alterskontrolle durch das Personal möglich.
        <br>Dafür genügt eine WhatsApp <a href="https://call.whatsapp.com/voice/k9qaYQrM2Kui7y8rOYqgg8">Anruf</a>, <a href="https://wa.me/436606040725">Nachricht</a>
      oder E-Mail an: <a href="mailto:cafe.dorner@gmail.com">cafe.dorner@gmail.com</a>.

        
  </div>
    </form>
<form class="box">
  <div class="field">
    <label class="label">Alkoholausschank:</label>
      An Kinder und Jugendliche unter 16/18 Jahren sowie an Betrunkene, die sich selbst oder andere gefährden, 
      werden keine alkoholischen Getränke ausgeschenkt.
  </div>

    
    
    
{% endblock %}

  